<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISC - 케톡!</title>
  </head>
  <body id="chat-screen">
    <div class="status-bar">
      <div class="status-bar__column">
        <span>No Service</span>
        <!-- To Do: wifi-icon -->
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>18:43</span>
      </div>
      <div class="status-bar__column">
        <span>100%</span>
        <!-- battery icon -->
        <i class="fa-solid fa-battery-full fa-2x" style="color: #74c0fc"></i>
        <!-- lightning icon -->
        <i class="fa-solid fa-bolt"></i>
      </div>
    </div>

    <header class="alt-screen-header">
      <div class="alt-screen-header__column">
        <a href="chats.html"> <i class="fa-solid fa-angles-left fa-2x"></i></a>
      </div>
      <div class="alt-screen-header__column">
        <h1 class="alt-screen-header__title">{{ matename }}</h1>
      </div>
      <div class="alt-screen-header__column">
        <!-- <span><i class="fa-sharp fa-solid fa-magnifying-glass fa-2x"></i></span>
        <span><i class="fa-solid fa-bars fa-2x"></i></span> -->
        <span
          ><img
            class="alt-screen-header-logo"
            src="../static/ISC-logo_trans.png"
        /></span>
      </div>
    </header>

    <main class="main-chat">
      <div class="chat__timestamp">Tuesday, June 30, 2020</div>
    </main>

    <form class="reply">
      <div class="reply__column">
        <i class="far fa-plus-square fa-lg"></i>
      </div>
      <div class="reply__column">
        <input
          type="text"
          class="message"
          placeholder="메세지를 작성해주세요 ..."
        />
        <button class="reply__btn">
          <i class="fas fa-arrow-up"></i>
        </button>
      </div>
    </form>

    <script
      src="https://kit.fontawesome.com/d5055e0a20.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
      crossorigin = "anonymous";
      var socket = io.connect(
        "http://" + document.domain + ":" + location.port
      );

      //클라이언트가 서버와 연결이 성공적으로 이루어졌을 때 실행
      socket.on("connect", function () {
        //서버에 'my event'라는 이벤트를 발생시키고, data: 'User Connected'라는 데이터를 보냄
        socket.emit("my event", {
          data: "User Connected",
        });

        socket.emit("join_chat");

        //이 코드는 <form> 태그에 submit 이벤트를 설정합니다. 사용자가 폼을 제출할 때 이 함수가 실행됩니다//채팅을 전송할 때 작동
        var form = $("form").on("submit", function (e) {
          // 폼의 기본 동작(페이지 리로드)을 방지하고, 사용자 정의 동작을 실행하게 만듭니다.
          e.preventDefault();
          //사용자가 입력한 사용자 이름, 메시지를 을 input.message 요소에서 읽어옵니다.
          let user_input = $("input.message").val();

          //입력시 시간을 보낸다. (Date()는 9시간 앞선 날짜를 보낸다.)
          var currentDate = new Date();
          currentDate.setHours(currentDate.getHours() + 9);

          currentDate = currentDate.toISOString();

          //time과 user_input 값을 포함하는 객체를 서버에 전송합니다
          //socket을 사용한다!!!!! -> 사용자에 관련된 정보는 캐시를 직접적으로 다루는 백에서 처리한다.
          socket.emit("send_message", {
            message: user_input,
            time: currentDate,
          });

          //메시지 입력 필드(input.message)의 값을 빈 문자열로 설정하여 메시지를 비웁니다
          $("input.message").val("").focus();
        });
      });

      //서버에서 준 글을 출력

      socket.on("receive_message_me", function (msg) {
        //콘솔에 msg를 출력
        console.log("Received message:", msg); // 서버에서 전 달받은 데이터 출력
        const date = new Date(msg.date);
        const time = date.toISOString().substring(11, 16); // "HH:MM:SS" 형식으로 시간만 추출

        //div.message_holder 요소 안에 새로운 <div>를 추가합니다.
        //채팅 내용을 추가한다. -> 항후 이 내용을 저장하고 불러오는 기능 필요
        $("main").append(
          `
        <div class="message-row__own">
        <div class="message-row__content">
          <div class="message__info">
            <span class="message__bubble"
              >` +
            msg.talk +
            `
              <div class="balloon-tail__right"></div>
            </span>

            <span class="message__time">` +
            time +
            `</span>
          </div>
        </div>
      </div>
        `
        );
        // 스크롤을 아래로 이동
        const main = document.querySelector("main");
        main.scrollTop = main.scrollHeight;
      });

      socket.on("receive_message_you", function (msg) {
        //콘솔에 msg를 출력
        console.log("Received message:", msg); // 서버에서 전달받은 데이터 출력
        const date = new Date(msg.date);
        const time = date.toISOString().substring(11, 16); // "HH:MM:SS" 형식으로 시간만 추출

        //div.message_holder 요소 안에 새로운 <div>를 추가합니다.
        //채팅 내용을 추가한다. -> 항후 이 내용을 저장하고 불러오는 기능 필요
        $("main").append(
          `
        <div class="message-row">
          <img
            src="https://th.bing.com/th/id/OIP.-5sorRJ9rKAhvzVSJZEaTwHaEJ?w=300&h=180&c=7&r=0&o=5&pid=1.7"
            alt="User Avatar"
          />
          <div class="message-row__content">
            <span class="message__author">` +
            msg.talker +
            `</span>
            <div class="message__info">
              <span class="message__bubble">
                ` +
            msg.talk +
            `
                <div class="balloon-tail__left"></div>
              </span>
              <span class="message__time">` +
            time +
            `</span>
            </div>
          </div>
        </div>
        `
        );
        // 스크롤을 아래로 이동
        const main = document.querySelector("main");
        main.scrollTop = main.scrollHeight;
      });

      //html에 나타나있는 메시지를 지운다.(중복소환되는 문제가 있음)

      socket.on("clean_message", function (msg) {
        // Remove all the <div> elements inside the message_holder
        $("main").empty();
      });
    </script>
  </body>
</html>

<!-- 
 Web에서는 index html 부터 찾아봄

-->
