<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jQuery 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <title>ISC - 시니어 정보(1)</title>
  </head>
  <body id="senior-info">
    <div class="status-bar">
      <div class="status-bar__column">
        <span>No Service</span>
        <!-- To Do: wifi-icon -->
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>18:43</span>
      </div>
      <div class="status-bar__column">
        <span>100%</span>
        <!-- battery icon -->
        <i class="fa-solid fa-battery-full fa-2x"></i>
        <!-- lightning icon -->
        <i class="fa-solid fa-bolt"></i>
      </div>
    </div>
    <header class="senior-info-header">
      <div class="senior-info-header__column">
        <a href="#"> <i class="fa-solid fa-angles-left fa-2x"></i></a>
      </div>
      <div class="senior-info-header__column">
        <h1 class="senior-info-header__title">시니어 정보 수정하기</h1>
      </div>
      <div class="senior-info-header_column">
        <span
          ><img
            class="senior-info-header-logo"
            src="../static/ISC-logo_trans.png"
        /></span>
      </div>
    </header>

    <div class="progress-bar-container">
      <div class="progress-bar progress-bar__complete"></div>
      <div class="progress-bar"></div>
      <div class="progress-bar"></div>
      <div class="progress-bar"></div>
      <div class="progress-bar"></div>
    </div>

    <div class="screen-header">
      <span class="screen-header__title">
        케어코디가 찾아갈 주소를<br />
        정확히 알려주세요.
      </span>
    </div>
    <main class="main-screen">
      <form id="senior-address-form">
        <input
          id="input-basic-address"
          required
          type="text"
          placeholder="아래 형식의 주소를 입력해주세요."
        />
        <div class="address-guidelines">
          <li>건물명 (예: 삼성빌딩)</li>
          <li>도로명 + 건물번호 (예: 강남대로 123)</li>
          <li>지역명 + 번지 (예: 서울시 강남구 역삼동 456번지)</li>
        </div>
        <input
          id="input-detail-address"
          required
          type="text"
          placeholder="상세주소(필수)"
        />
      </form>

      <a id="service-display-link">
        <i class="fa-solid fa-circle-info"></i>
        서비스 신청 중에 어려움이 있으시다면, <br />
        010-4255-5997 로 문의해주세요.
        <i class="fa-solid fa-chevron-right fa-xs"></i>
      </a>
    </main>
    <nav class="previous-next-bar">
      <div class="previous-next-bar__list">
        <div class="previous-next-bar__previous">
          <a href="#" class="nav__link__text">이전</a>
        </div>
        <div class="previous-next-bar__next">
          <a href="senior-info-(2).html" class="nav__link__text">다음</a>
        </div>
      </div>
    </nav>
    <script
      src="https://kit.fontawesome.com/d5055e0a20.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<!-- 
 Web에서는 index html 부터 찾아봄

-->
