<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>케어 기록</title>
    <link href="care_record.css" rel="stylesheet" />
  </head>
  <body>
    <header>
        <!-- 페이지 제목 -->
        <h1>케어 기록</h1>
        <!-- 우상단 뒤로가기 버튼 -->
        <div class="navigate-btn">
            <span>&larr;</span>
        </div>
    </header>
    <div></div>
    <!-- 주간 내비게이션 -->
    <div class="navigation">
      <button class="nav-btn prev-week">◀</button>
      <span class="current-week">11월 둘째 주</span>
      <button class="nav-btn next-week">▶</button>
    </div>

    <main>
      <div class="week-days">
        <div class="day-container">
          <div class="day">일</div>
          <div class="circle">3</div>
        </div>
        <div class="day-container">
          <div class="day">월</div>
          <div class="circle">4</div>
        </div>
        <div class="day-container">
          <div class="day">화</div>
          <div class="circle">5</div>
        </div>
        <div class="day-container">
          <div class="day">수</div>
          <div class="circle">6</div>
        </div>
        <div class="day-container">
          <div class="day">목</div>
          <div class="circle">7</div>
        </div>
        <div class="day-container">
          <div class="day">금</div>
          <div class="circle">8</div>
        </div>
        <div class="day-container">
          <div class="day">토</div>
          <div class="circle">9</div>
        </div>
      </div>
    <!-- 컨텐츠 Display -->
      <div class="care-container">
        <ul>
            <!-- ex1 -->
            <li class="care-item">
              <span class="care-time">09:00</span>
              <div class="care-content">
                <!-- 사진 -->
                <div class="care-photo">
                  <img src="example-image1.jpg" alt="첨부된 사진" />
                </div>
                <!-- 코멘트 -->
                <div class="care-comment">
                  <span class="care-title">아침밥 드리기</span>
                  <p class="care-description">저염 된장찌개랑 잡곡밥 준비해드렸어요<br>맛있게 드셨어요~^^</p>
                </div>
              </div>
            </li>
            <!-- ex2 -->
            <li class="care-item">
              <span class="care-time">10:00</span>
              <div class="care-content">
                <!-- 사진 -->
                <div class="care-photo">
                  <img src="example-image2.jpg" alt="첨부된 사진" />
                </div>
                <!-- 코멘트 -->
                <div class="care-comment">
                  <span class="care-title">당뇨약 챙겨주세요</span>
                  <p class="care-description">네 챙겨드렸습니다~</p>
                </div>
              </div>
            </li>
            <!-- ex~~~ -->
            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>            <li class="care-item">
                <span class="care-time">10:00</span>
                <div class="care-content">
                  <!-- 사진 -->
                  <div class="care-photo">
                    <img src="example-image2.jpg" alt="첨부된 사진" />
                  </div>
                  <!-- 코멘트 -->
                  <div class="care-comment">
                    <span class="care-title">당뇨약 챙겨주세요</span>
                    <p class="care-description">네 챙겨드렸습니다~</p>
                  </div>
                </div>
            </li>
          </ul>
        <!-- Ex 3개 모두 종료 -->
        </ul>
      </div>
    </main>
  </body>
</html>
