<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="..\static\css\style.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISC: 내 이력서 편집하기</title>
    <link rel="shortcut icon" href="#" />
  </head>

  <body>
    <div class="status-bar">
      <div class="status-bar__column">
        <span>No Service</span>
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>18:43</span>
      </div>
      <div class="status-bar__column">
        <span>100%</span>
        <!-- battery icon -->
        <i class="fa-solid fa-battery-full fa-2x" style="color: #74c0fc"></i>
        <!-- lightning icon -->
        <i class="fa-solid fa-bolt"></i>
      </div>
    </div>
    <div class="screen-header">
      <span><i class="screen-header__icon"></i></span>
      <h1 class="screen-header__title">나의 이력서</h1>
      <img src="#" class="screen-header__img" />
    </div>

    <main>
      <form class="resume-introduction" action="/" method="POST" enctype="multipart/form-data">
        <!-- 기본 정보+이미지 -->
        <div id="basicAndimage-container">
          <div id="basic-container" >
            <!-- 개인 정보를 입력-->
            <div class="resume-introduction__basic">
              <input
                type="hidden"
                name="resume_id"
                value="{{ resume._id if resume else '' }}"
              />
              <!-- 이름 -->
              <label
                >이름<br /><input
                  type="text"
                  id="name"
                  name="name"
                  value="{{ resume.name if resume else '' }}"
                  placeholder="예시: 김순옥"
                  required
              /></label>
              <!-- 나이 -->
              <label
                >나이<br /><input
                  type="text"
                  id="age"
                  name="age"
                  value="{{ resume.age if resume else '' }}"
                  placeholder="예시: XX (세)"
                  required
              /></label>
              <!-- 성별 -->
              <label
                >성별<br />
                <select id="gender" name="gender" required>
                  <option value="" {% if not resume or not resume.gender %}selected{% endif %}>선택</option>
                  <option value="Male" {% if resume and resume.gender == "Male" %}selected{% endif %}>남성</option>
                  <option value="Female" {% if resume and resume.gender == "Female" %}selected{% endif %}>여성</option>
                </select>
              </label>
              <!-- 경력 -->
              <label
                >경력<br/>
                <input
                  type="text"
                  id="experience"
                  name="experience"
                  value="{{ resume.experience if resume else '' }}"
                  placeholder="예시: X년 X월"
                  required
                />
              </label>
            </div>
          </div>
          <div id="image-container">
            <!-- 이미지를 업로드-->
            <div class="resume-introduction__image">
              {% if resume and resume.photo %}
              <img
                src="{{ url_for('static', filename=resume.photo) }}"
                alt="첨부된 사진"
                width="200"
              />
              {% else %}
              <img src="https://via.placeholder.com/200" alt="첨부된 사진" />
              {% endif %}
              <div class="resume-introduction__image__upload">
                <input
                  type="file"
                  id="photo"
                  name="photo"
                  accept="image/png, image/jpeg"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- 자기소개 -->
        <div id="text-container">
          <input
          type="hidden"
          name="resume_id"
          value="{{ resume._id if resume else '' }}"
          />
          <h2 class="resume-introduction__title">
            자기소개 (경력, 원하는 사항 등)
          </h2>
          <textarea
            class="resume-introduction__text"
            id="introduction"
            name="introduction"
            placeholder="자기소개를 입력해주세요."
            required
          >{{ resume.introduction if resume else '' }}</textarea>
        </div>
        <!-- 제출 버튼 -->
        <div class="resume-introduction__button">
          <button type="submit" name="action" value="update">저장</button>
        </div>
      </form>
    </main>

    <div class="todo-link">
      <a href="/todo">todo-maker</a>
      <a href="/todo_carecody" style="margin-left: 20px"
        >내 ToDo 페이지로 이동</a
      >
      <a href="/diary" style="margin-left: 20px">돌봄 diary로 이동</a>
    </div>
  </body>
</html>
