<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="..\static\css\style.css" rel="stylesheet" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ISC: 오늘의 기록</title>
    <link rel="shortcut icon" href="#" />
  </head>

  <body>
    <!-- Component -->
    <div class="status-bar">
      <div class="status-bar__column">
        <span>No Service</span>
        <i class="fa-solid fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>18:43</span>
      </div>
      <div class="status-bar__column">
        <span>100%</span>
        <!-- battery icon -->
        <i class="fa-solid fa-battery-full fa-2x" style="color: #74c0fc"></i>
        <!-- lightning icon -->
        <i class="fa-solid fa-bolt"></i>
      </div>
    </div>
    <div class="screen-header">
      <span><i class="screen-header__icon"></i></span>
      <h1 class="screen-header__title">오늘의 To-Do List를 작성하세요 !</h1>
      <img src="#" class="screen-header__img" />
    </div>

    <!-- 오늘 날짜 랜더링 -->

    <div id="todo_carecody-container">
      {% for care in cares %}
      <div class="todo_carecody__items">
        <!-- 시간 표시 -->
        <div class="todo_carecody__items__time">{{ care.time }}</div>
        <!-- 세부 내용 -->
        <div class="todo_carecody__items__details">
          <div class="todo_carecody__items__details__title">
            {{ care.content }}
          </div>
          <!-- 사진 및 코멘트 표시: 출근/퇴근 항목은 제외 -->
          {% if care.content != "출근" and care.content != "퇴근" %}
          <!-- 사진 표시 -->
          {% if care.photo %}
          <div class="todo_carecody__items__details__photo">
            <img
              src="{{ url_for('static', filename=care.photo) }}"
              alt="첨부된 사진"
            />
          </div>
          {% endif %}
          <!-- 코멘트 표시 -->
          {% if care.comment %}
          <div class="todo_carecody__items__details__comment">
            " {{ care.comment }} "
          </div>
          {% endif %}

          <!-- 저장/수정 버튼 -->
          <form
            class="todo_carecody__items__details__form"
            action="/care/update/{{ care._id }}"
            method="POST"
            enctype="multipart/form-data"
          >
            <label for="photo-{{ care._id }}"></label>
            <input type="file" name="photo" id="photo-{{ care._id }}" />
            <label for="comment-{{ care._id }}"></label>
            <textarea
              name="comment"
              id="comment-{{ care._id }}"
              placeholder="코멘트를 작성하세요..."
            ></textarea>
            <button type="submit">저장</button>
          </form>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="resume-link">
      <a href="/resume">이력서 페이지로 이동</a>
      <a href="/diary">돌봄 다이어리 페이지로 이동</a>
    </div>
  </body>
</html>
