<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>D0kiDOki</title>
</head>

<body>
  this is ryu 
  <H3>Here's the big picture</H3>

  <H3></H3>
  <H4></H4>

  <H3>hehe</H3> <H4>: 3</H4>

  <UL>This is unordered list.

    <LI>there are n o t h i n g s</LI>
    <LI></LI>
    <LI>One programmer</LI>
    <LI>1 1ike tenten</LI>
    <LI>ten of tenten</LI>
    <LI>1 can can cans</LI>
    <LI>;></LI>
    </UL>
  hehehe
</body>
</html>